---
# Prep needed: 
# sudo apt-get install -y yq

# This file defines what files/directories and databases should be backed up.
# This file and the restore.sh is then included inside the backup folder to be read on the restore process.
# This enables backward compatibility from this script itself.
backup_destination: "/backup/path"
# relative path inside the backup_destination_dir
restore_script: "restore.sh/

backup_tar_naming: "backup.tar"                    

# define files or directories to backup
# if src parameter ends with a / it means the full directory should be backed up.
# - { src: "<<abs. path on the system>>, dst: "<<path inside $backup_destination<<path>>" }
backup_files: 
  - { src: "./data", dst: "data/" }
  - { src: "./data2", dst: "data/" }
  - { src: "./data3", dst: "data/" }

backup_dbs:
  - { db_name: "testdb", db_user: "testuser", db_password:"dbpassword", dst_path:"db_test" }
